/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #191919;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 80px;
}


.header__logo {
    height: 40px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.header__search {
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    outline: none;
}
.search-results {
    max-width: 1200px;
    margin: 0 auto;
}
.movies {
    display: flex;
    flex-wrap:wrap;
    /* justify-content: space-around; */
    width: 100%; /* Ensure the container is full width or adjust as necessary */
    overflow: hidden;
}

.movie {
    width: 180px;
    /* margin: 10px; */
    position: relative;
}

.movie__poster {
    position: relative;
    height: 300px;
}

.movie__poster img {
    width: 100%;
    height: 100%;
    display: block; /* Removes any space below the image */
}

.movie__poster-darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    height: 100%;
}

.movie__poster-darkened:hover {
    background-color: grey;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
    font-size: 16px;
    color: #ffffff;
}

.movie__category {
    font-size: 14px;
    color: #ffd80e;
}

.movie__rating {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 5px;
    width: 36px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    font-size: 14px;
}

.movie__rating--green {
    border: 1px solid rgb(2, 187, 2);
    background-color: rgb(2, 187, 2);
}

.movie__rating--red {
    border: 1px solid red;
    background-color: red;
}

.movie__rating--orange {
    border: 1px solid orange;
    background-color: orange;
}

.movie__year {
    font-size: 14px;
    color: #ffffff;
}

.top-category {
    color: #ffffff;
    margin: 20px 0;
    padding: 0 16px;
}

.glide__slide {
    width: 200px !important;
    margin: 15px !important; 
    position: relative;
    box-sizing: border-box;
}

.glide {
    max-width: 100%; /* Ensures that the Glide component does not exceed the width of its container */
}

.movies-best {
    width: 100%; /* Ensure the container is full width or adjust as necessary */
    overflow: hidden; /* Prevents any part of the slide from overflowing outside the carousel */
}